version: "3"
  #
  # Simple docker-compose config template file. These are all used as part of the test suite.
  #
services:
  # ------------------------------------------------------------------------
  # Supporting Services
  # ------------------------------------------------------------------------
  database:
    # vanilla mongo image
    image: mongo
    ports:
      - "27017:27017"
  searchbase:
    # vanilla elasticsearch image
    image: elasticsearch
    ports:
      - "9200:9200"
  middleware:
    # vanilla nats.io image
    image: nats
    ports:
      - "4222:4222"
  # ------------------------------------------------------------------------
  # Wysteria variants
  # ------------------------------------------------------------------------
  sololocal:
    # wysteria using all embedded settings & local repository
    image: wysteria/wysteria:local
    ports:
      - "31000:31000"
    environment:
      WYS_SEARCHBASE_DRIVER: "bleve"
      WYS_SEARCHBASE_NAME: "searchdata"
      WYS_DATABASE_DRIVER: "bolt"
      WYS_DATABASE_NAME: "data"
      WYS_MIDDLEWARE_DRIVER: "grpc"
      WYS_MIDDLEWARE_CONFIG: ":31000"
      WYS_MIDDLEWARE_SSL_CERT: "${WYS_MIDDLEWARE_SSL_CERT}"
      WYS_MIDDLEWARE_SSL_KEY: "${WYS_MIDDLEWARE_SSL_KEY}"
      WYS_MIDDLEWARE_SSL_VERIFY: "false"
      WYS_MIDDLEWARE_SSL_ENABLE: "${WYS_MIDDLEWARE_SSL_ENABLE}"
  elastictest:
    # wysteria using only elastic as an external service
    image: wysteria/wysteria:local
    ports:
      - "31000:31000"
    environment:
      WYS_SEARCHBASE_DRIVER: "elastic"
      WYS_SEARCHBASE_NAME: "data"
      WYS_SEARCHBASE_PORT: "9200"
      WYS_SEARCHBASE_HOST: "searchbase"
      WYS_SEARCHBASE_REINDEX: "true"
      WYS_DATABASE_DRIVER: "bolt"
      WYS_DATABASE_NAME: "data"
      WYS_MIDDLEWARE_DRIVER: "grpc"
      WYS_MIDDLEWARE_CONFIG: ":31000"
      WYS_MIDDLEWARE_SSL_CERT: "${WYS_MIDDLEWARE_SSL_CERT}"
      WYS_MIDDLEWARE_SSL_KEY: "${WYS_MIDDLEWARE_SSL_KEY}"
      WYS_MIDDLEWARE_SSL_VERIFY: "false"
      WYS_MIDDLEWARE_SSL_ENABLE: "${WYS_MIDDLEWARE_SSL_ENABLE}"
    links:
      - searchbase
    depends_on:
      - searchbase
  mongotest:
    # wysteria elastic & mongo
    image: wysteria/wysteria:local
    ports:
      - "31000:31000"
    environment:
      WYS_SEARCHBASE_DRIVER: "elastic"
      WYS_SEARCHBASE_NAME: "data"
      WYS_SEARCHBASE_PORT: "9200"
      WYS_SEARCHBASE_HOST: "searchbase"
      WYS_SEARCHBASE_REINDEX: "true"
      WYS_DATABASE_DRIVER: "mongo"
      WYS_DATABASE_NAME: "data"
      WYS_DATABASE_PORT: "27017"
      WYS_DATABASE_HOST: "database"
      WYS_MIDDLEWARE_DRIVER: "grpc"
      WYS_MIDDLEWARE_CONFIG: ":31000"
      WYS_MIDDLEWARE_SSL_CERT: "${WYS_MIDDLEWARE_SSL_CERT}"
      WYS_MIDDLEWARE_SSL_KEY: "${WYS_MIDDLEWARE_SSL_KEY}"
      WYS_MIDDLEWARE_SSL_VERIFY: "false"
      WYS_MIDDLEWARE_SSL_ENABLE: "${WYS_MIDDLEWARE_SSL_ENABLE}"
    links:
      - searchbase
      - database
    depends_on:
      - searchbase
      - database
  local:
    # wysteria using nats.io, mongo & elasticsearch
    image: wysteria/wysteria:local
    environment:
      WYS_SEARCHBASE_DRIVER: "elastic"
      WYS_SEARCHBASE_NAME: "data"
      WYS_SEARCHBASE_PORT: "9200"
      WYS_SEARCHBASE_HOST: "searchbase"
      WYS_SEARCHBASE_REINDEX: "true"
      WYS_DATABASE_DRIVER: "mongo"
      WYS_DATABASE_NAME: "data"
      WYS_DATABASE_PORT: "27017"
      WYS_DATABASE_HOST: "database"
      WYS_MIDDLEWARE_DRIVER: "nats"
      WYS_MIDDLEWARE_CONFIG: "nats://middleware:4222"
      WYS_MIDDLEWARE_SSL_CERT: "${WYS_MIDDLEWARE_SSL_CERT}"
      WYS_MIDDLEWARE_SSL_KEY: "${WYS_MIDDLEWARE_SSL_KEY}"
      WYS_MIDDLEWARE_SSL_VERIFY: "false"
      WYS_MIDDLEWARE_SSL_ENABLE: "${WYS_MIDDLEWARE_SSL_ENABLE}"
    links:
      - database
      - searchbase
      - middleware
    depends_on:
      - database
      - searchbase
      - middleware